{% extends 'base/base_discussion.html' %} 
{% load static %} 

{% block title %} Profile {% endblock %} 
{% block page %} Profile {% endblock %} 

{% block content %}

<div
  class="flex flex-col lg:flex-row items-stretch gap-4 lg:gap-0 bg-blue-50 w-full p-8"
>
  <article class="card bg-base-100 shadow w-full">
    <div class="card-body flex flex-col">
      <h2 class="card-title text-2xl">
        Profile
      </h2>
      <p>Name : {{ profile.name|default_if_none:'' }} </p>
      <p>Username : {{ profile.username }}</p>
      <p>Email : {{ profile.email }}</p>
      <p>About Me : </p>
      <p>{{ profile.about|default_if_none:'' }} </p>

    </div>
  </article>
</div>
{% endblock content %}
